<!doctype html>

<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RUBA</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

   
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="material.min.css">
    <link rel="stylesheet" href="styles.css">
   
  </head>
  <style>
    .fundo > .mdl-card__title{
    color: #ffffff;
    width: 337.641px;
    height: 63px;
    background: url('') center / cover;
  }  

  </style>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          
          <button class="mdl-button mdl-js-button mdl-button--icon " onClick="history.go(-1)">
                <i class="material-icons ">arrow_back</i>
              </button>
          <span class="mdl-layout-title">Painel de Controle</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">Sobre</li>
            <li class="mdl-menu__item">Contato</li>
            <li class="mdl-menu__item">Mais informações</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="images/Icon.png" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>team@ruba.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">eu@ruba.com</li>
              <li class="mdl-menu__item">vc@ruba.com</li>
              <li class="mdl-menu__item">eozubumafu@ruba.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Adicionar outra conta...</li>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="https://www.youtube.com/watch?v=WHC37SpDpbQ" target="_blank"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home ?</a>
          <a class="mdl-navigation__link" href="https://www.youtube.com/watch?v=WHC37SpDpbQ" target="_blank"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Mensagem ?</a>
          <a class="mdl-navigation__link" href="https://www.youtube.com/watch?v=WHC37SpDpbQ" target="_blank"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add_circle</i>Adicionar tomada</a>
          <a class="mdl-navigation__link" href="https://www.youtube.com/watch?v=WHC37SpDpbQ" target="_blank"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Apagar ?</a>
          <a class="mdl-navigation__link" href="https://www.youtube.com/watch?v=WHC37SpDpbQ" target="_blank"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates ?</a>
          <a class="mdl-navigation__link" href="https://www.youtube.com/watch?v=WHC37SpDpbQ" target="_blank"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Comprar ?</a>
          <a class="mdl-navigation__link" href="https://www.youtube.com/watch?v=WHC37SpDpbQ" target="_blank"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social ?</a>

          <div class="mdl-layout-spacer"></div>

          <!--Esconder o nome help span class="visuallyhidden"-->
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span>Help</span></a>

        </nav>
      </div>
      <div class="mdl-layout__content">
        <main>
          <h3 class="">Suas tomadas Ruba</h3>
          <div class="mdl-grid">
            
              <div class=" mdl-card mdl-shadow--8dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 1</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
                    <input type="checkbox" id="switch-1" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 

              <div class=" mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 2</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
                    <input type="checkbox" id="switch-2" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 

              <div class=" mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 3</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
                    <input type="checkbox" id="switch-3" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 

              <div class=" mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 4</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-4">
                    <input type="checkbox" id="switch-4" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 

              <div class=" mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 5</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-5">
                    <input type="checkbox" id="switch-5" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 

              <div class=" mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 6</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-6">
                    <input type="checkbox" id="switch-6" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 

              <div class=" mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 7</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-7">
                    <input type="checkbox" id="switch-7" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 

              <div class=" mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 8</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-8">
                    <input type="checkbox" id="switch-8" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 

              <div class=" mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col ">
                 <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
                    <h2 class="mdl-card__title-text ">Tomada 9</h2>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                   Descrição da tomada ou algo assim  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-9">
                    <input type="checkbox" id="switch-9" class="mdl-switch__input mdl-switch--fab">
                    <span class="mdl-switch__label">Mudar estado</span>
                  </label>
                 </div>
              </div> 
          </div>
        </main>        
      </div>
    </div>
    <script src="../../material.min.js"></script>
  </body>
</html>